

/* my style */
.mini-navbar #page-wrapper {
  margin: 0 auto;
}

/* stripe-table-detail */
.stripe-container {
    max-width: 100%;
    padding: 10px 15px;
    font-size: 13px;
    color: #888888;
  }

  .stripe-table-detail-wrapper {
    max-width: 90%;
  }
  .stripe-table-detail-wrapper  .table {
    font-size: 13px;
  }
  
  .stripe-container td.stripe-td {
    font-size: 13px;
    line-height: normal;
    color: #565656;
    border-top: none;
    border-bottom: 1px solid #8B8B8B;
  }
  .stripe-td:nth-child(2) {
    min-width: 40px;
  }
  .stripe-table-col {
    border-right: 1px solid #8B8B8B;
  }

  /* data provider */
  .data-wrapper .list-group-item {
    display: flex;
    border: none;
    font-size: 13px;
    line-height: normal;
    padding: 5px;
    color: #565656;
  }
  .list-group-item strong {
    margin-right: 10px;
  }
  .list-group-item address {
    margin: 0;
  }
  .list-group-item a {
    color: inherit;
  }
  .stripe-money-sum {
    text-align: right;
  }

  /* stripe-btns */
  .stripe-btns-wrapper {
    display: flex;
    justify-content: space-evenly;
  }
  .stripe-btn {
    background: #2196F3;
    border: 1px solid #2196F3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    transition: all 0.4s;
    color: white;
    font-size: 13px;
  }
  .stripe-btn--square {
    width: 44px;
    height: 44px; 
  }
.stripe-btn:active {
  box-shadow: none;
}
.add-item-btn {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  display: flex;
  font-size: 13px;
}
.add-item-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #2196F3;
  margin-right: 10px;
}
.add-item-icon::before {
  content: "";
  position: absolute;
  left: 48%;
  display: block;
  width: 2px;
  height: 65%;
  background:white;
}
.add-item-icon::after {
  content: "";
  position: absolute;
  left: 48%;
  display: block;
  transform: rotate(90deg);
  width: 2px;
  height: 65%;
  background:white;
}
/* tabs */
.switcher-wrapper {
  display: flex;
  width: 30%;
}
.stripe-table-row {
  padding-bottom: 10px;
  border-bottom: 1px solid #8B8B8B;
}

.tabs-row {
  padding: 7.5px;
}
.tab {
  font-size: 15px;
  line-height: 23px;
  text-transform: uppercase;
  margin: 0;
  color: #565656;
  cursor: pointer;
}
.tabs-row .col-6:nth-child(1) {
  border-right: 1px solid #8B8B8B
}
.tab.active {
  font-weight: bold;
  text-decoration: underline;
}
/* tab for js */
.tab-info {
  display:none;
}
.active {
  display: block !important;
}
.stripe-tab-info-row {
  width: 100%;
  position: relative;
}
/* payment detail */
.stripe-btn-round {
  display: none;
  width: 35px;
  height: 35px;
  position: absolute;
  right: 0;
  border-radius: 50%;
}
.payment-details-wrapper {
  max-width: 55%;
}
.payment-details-wrapper .payment-details-td {
  font-size: 13px;
  color: #565656;
  border-top: 1px solid #888888;
  width: 60px;
  text-align: center;
  
}
.table > thead > tr > th {
  text-align: center;
  border-bottom: 1px solid #888888;
}
.payment-details-wrapper tfoot td {
  vertical-align: middle !important;
}
.reschedule-wrapper {
  min-width: 120px;
}
.stripe-btn--reschedule {
  font-size: 13px;
  line-height: 22px;
}
.stripe-btn--payment {
  width: 124px;
  height: 46px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.img-payment {
  width: 30px;
  height: 30px;
  background: blueviolet;
}
.text-payment {
  padding-left: 10px;
  text-align: left;
  font-size: 13px;
}
.payment-details-wrapper td.payment-details-sum {
  text-align: left;
  padding-left: 40px;
}
.payment-details-wrapper .table td {
  border-top: none;
  border-bottom: 1px solid #888888;
}
.payment-details-wrapper .table tr:last-child td {
  border:none;
}
/* payment-quote */
.payment-quote-wrapper {
  max-width: 300px;
}
.payment-quote .form-check-input {
  width: auto !important;
  height: auto !important;
}
.payment-quote input {
  height: 20px !important;
  color: black;
}
/* participants tab */
.participants-info-wrapper {
  max-width: 30%;
  color: #565656;
}
.participant-item {
  display: flex;
  justify-content: space-between;
}
.btn-add-age {
  background: #CCCCCC;
  border: 1px solid #686868;
}
/* mandatory info */
.part-title {
  font-weight: bold;
  color: #565656;
}

/* send-block */
.send-btns-block-col {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.row-100 {
  width: 100%;
}
.send-btns-block-wrapper {
  display: flex;
  justify-content: space-between;
  width: 19%;
}
.stripe-btn--long {
  min-width: 116px;
  height: 48px;
}


@media (max-width: 992px) {
  .stripe-table-col {
    border-right: none;
  }
  .stripe-table-wrapper {
    max-width: 100%;
    border-right: none;
  }
  .stripe-tab-info-row {
    width: 100%;
  }
  .payment-details-wrapper {
    max-width: 100%;
  }
  .participants-info-wrapper {
    max-width: 100%;
  }
  .send-btns-block-wrapper {
    width: 50%;
  }
}